extends layout

block content
  .content.border.border-white.rounded
    .row.title
      .col.col-md-5.text-left.h1= player1
      .col.col-md-2.text-center.h1 vs
      .col.col-md-5.text-right.h1= player2
    .row.seasons
      .col.col-md-12.text-center  Current Season
    .row.last-season
      .col.col-md-4.current-season-left
        .row.last-3-wins-1
          .col.text-right 1:
          .col.text-left= data.p1.cseason.win1
        .row.last-3-wins-2
          .col.text-right 2:
          .col.text-left= data.p1.cseason.win2
        .row.last-3-wins-3
          .col.text-right 3:
          .col.text-left= data.p1.cseason.win3
      .col-md-4
      .col-md-4.current-season-right
        .row.last-3-wins-1
          .col.text-right 1:
          .col.text-left= data.p2.cseason.win1
        .row.last-3-wins-2
          .col.text-right 2:
          .col.text-left= data.p2.cseason.win2
        .row.last-3-wins-3
          .col.text-right 3:
          .col.text-left= data.p2.cseason.win3
    .row.season
      .col.cod-md-12.text-center Last Season
    .row.last-season
      .col.col-md-4.current-season-left
        .row.last-3-wins-1
          .col.text-right 1:
          .col.text-left= data.p1.lseason.win1
        .row.last-3-wins-2
          .col.text-right 2:
          .col.text-left= data.p1.lseason.win2
        .row.last-3-wins-3
          .col.text-right 3:
          .col.text-left= data.p1.lseason.win3
      .col-md-4
      .col-md-4.current-season-right
        .row.last-3-wins-1
          .col.text-right 1:
          .col.text-left= data.p2.lseason.win1
        .row.last-3-wins-2
          .col.text-right 2:
          .col.text-left= data.p2.lseason.win2
        .row.last-3-wins-3
          .col.text-right 3:
          .col.text-left= data.p2.lseason.win3
    .row.general
      .col-md-4.pbs